<div class="container m-t-6">
  <button type="button" class="btn btn-success m-3" routerLink="/barchart">Bar Chart</button>
  <button type="button" class="btn btn-success m-3" routerLink="/piechart">Pie Chart</button>
  <button type="button" class="btn btn-success m-3" routerLink="/crtgraph">Crt Graph</button>
  <button type="button" class="btn btn-success m-3" routerLink="/basicgraph">Basic Graph</button>
  <button type="button" class="btn btn-success m-3" routerLink="/groupedchart">Grouped chart</button>

</div>
<router-outlet></router-outlet>